<section class='main-container'>
  <section class='flash-container'></section>
  <section id='mail-nav'></section>
  <section id='mail-sidebar'></section>
  <div class='show-container'></div>
</section>

<!-- <script src="jquery.raty.js"></script> -->
<script>
  $(function() {
    Maildog.initialize();
  })
</script>
