<h1>Mail homepage</h1>

<script>
  $(function() {
    // debugger
    var view = new Maildog.Views.MailIndex();
    $("#mail-index").html(view.render().$el);
  });
</script>

<section id='mail-index'></section>

<div id='content'></div>
