<section class='main-container'>
  <section class='flash-container'></section>
  <section id='mail-nav'></section>
  <section id='mail-sidebar'></section>
  <div class='show-container'></div>
</section>

<script>
  Maildog.currentUser = new Maildog.Models.CurrentUser();
  Maildog.inboxEmails = new Maildog.Collections.Emails(
    [], { urlAction: "inbox" });
  Maildog.currentUser.fetch({ reset: true });
  Backbone.pubSub = _.extend({}, Backbone.Events);

  Maildog.router = new Maildog.Routers.Router({
    $rootEl: $('.main-container')
  });

  Backbone.history.start();
</script>
