<header class='header'>
  <div class='dog-logo'></div>
  <aside>
    <a class='blue-button' href="/session/new">Sign in</a>
  </aside>
</header>

<h1 class='create-new-account-header-text'>Create your Maildog acount!</h1>

<form class='create-account-form group' id='create-account-form'>
  <label>Name
  <input type='text' name='user[first_name]' value='<%= @user.first_name %>'
                     placeholder="First">
  </label>
  <label>
  <input type='text' name='user[last_name]' value='<%= @user.last_name %>'
                     placeholder="Last">
  <label>Choose your username
  <input type='text' name='user[username]' value='<%= @user.username %>'>
  <label>Create a password
  <input type='password' name='user[password]'>
  </label>
  <label>Confirm your password
  <input type='password' name='user[password]'>
  </label>
  </label>
  <label>Birthday
  <select name='birthday-month'>
    <option>January</option>
    <option>February</option>
    <option>March</option>
    <option>April</option>
    <option>May</option>
    <option>June</option>
    <option>July</option>
    <option>August</option>
    <option>September</option>
    <option>October</option>
    <option>November</option>
    <option>December</option>
  </select>
  <input name='birthday-day' type='text' placeholder="Day">
  <input name='birthday-year' type='text' placeholder="Year">
  </label>
  <label>Gender
    <select name="user[gender]">
      <option value='M'>Male</option>
      <option value='F'>Female</option>
      <option value='O'>Other</option>
    </select>
  </label>
  <label>
    <input type='checkbox' name='awesome'>I agree to be awesome!
  </label>
  <button class='blue-button'>Create account</button>
</form>
