<p><%= @email.body %></p>

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

<p>Thank you for using Maildog!<p>
<p>
  Check out my github <a href='https://github.com/petrgazarov'>here</a>
  © 2015 Petr Gazarov
<p>
