/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, figure, section, aside, ul,
 li, a, p, h1, h2, h3, h4, h5, main, div, form,
 label, footer, article, nav, header, input, button {
   border: 0;
   padding: 0;
   margin: 0;
   outline: 0;

   font: inherit;
   color: inherit;
   text-decoration: inherit;
   text-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

ul {
  list-style: none;
}

body {
  font-family: arial, sans-serif;
  font-size: 18px;
}

button {
  cursor: pointer;
}

.group:after {
  clear: both;
  display: block;
  content: "";
}

.compose-email-popup {
  border: 1px solid black;
  width: 600px;
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 25px;
  background: white;
}

.compose-email-popup-header-text {
  display: block;
  float: left;
}

.cancel-compose-box-popup {
  display: block;
  float: right;
  cursor: pointer;
}

.compose-email-to {
  display: block;
}

.compose-email-from {
  display: block;
}

.compose-email-subject {
  display: block;
}

.compose-email-body {
  display: block;
}
.compose-email-body > textarea {
  width: 80%;
  height: 150px;
}

.compose-email-send-button {
  display: block;
}

.mail-header {
  height: 60px;
  background: rgb(237,237,237);
  line-height: 58px;
  border: 1px solid red;
}

.mail-nav {
  border: 1px solid blue;
  height: 48px;
  line-height: 48px;
}

.mail-nav button {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  vertical-align: middle;
  height: 30px;
  line-height: normal;
}

.compose-button {
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  text-transform: uppercase;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  height: 27px;
  line-height: 27px;
  padding: 0 8px;
  width: 97px;
  margin: auto;
  display: block;
  text-align: center;
}

.email-options {
  float: left;
  position: absolute;
  left: 202px;
  text-align: center;
}

.email-folders-list {
  margin-left: 30px;
  margin-top: 10px;
}

.email-folders-list > li {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 80%;
}

.email-folders-list > li:hover {
  background: rgb(234,234,234);
}

.header-title-text {
  display: block;
  float: left;
  font-size: 26px;
  height: 40px;
  width: 92px;
  margin-right: 50px;
  padding: 0 30px 0 30px;
  line-height: normal;
  vertical-align: middle;
}

.search-bar {
  border: 1px solid yellow;
  float: left;
  height: 60px;
  line-height: 58px;
  width: 655px;
}

.search-bar input {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  border-right-width: 0;
  height: 27px;
  line-height: normal;
  vertical-align: middle;
  white-space: nowrap;
  width: 570px;
}

.search-bar input:hover {
  border: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  border-right-width: 0;
}

.search-bar button {
  height: 27px;
  width: 60px;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  vertical-align: middle;
  line-height: normal;
  cursor: default;
  font-weight: bold;
  display: inline-block;
  line-height: 29px;
  min-width: 54px;
  font-size: 14px;
  text-align: center;
  color: white;
}

.current-user-info > p {
  display: block;
  float: right;
}

.current-user-info > aside {
  display: block;
  float: right;
  background: url(petr-photo.jpg);
  background-size: cover;
  width: 60px;
  height: 60px;
  border: 1px solid purple;
}

.mail-main-section {
  float: left;
}

.email-folders {
  width: 200px;
  border: 1px solid orange;
  float: left;
}

.pages-menu {
  float: left;
}

.email-navigation {
  float: right;
}

.show-container {
  border: 1px solid green;
  float: right;
  width: calc(100% - 204px);
  min-height: 100px;
}

.sign-in-view {
  width: 600px;
  height: 670px;
  position: relative;
  margin: auto;
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.canvas {
  width: 96px;
  height: 96px;
  background-image: url(avatar.png);
  background-size: cover;
  display: block;
  margin: 0 auto 25px auto;
}

.sign-in-view h1 {
  margin: 50px 0;
  font-size: 38px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

.sign-in-view h2 {
  margin: 20px 0;
  font-size: 22px;
  color: #555;
  font-family: 'Open Sans';
}

.sign-in-view form {
  height: 240px;
  width: 274px;
  margin: auto;
  padding: 40px;
  background: #f7f7f7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.sign-in-view input {
  background: #fff;
  width: 275px;
  height: 44px;
  font-size: 16px;
  box-sizing: border-box;
  display: block;
  margin: auto;
  padding: 0 8px;
  border-radius: 1px;
  text-align: start;
  color: #404040;
  border: 1px solid rgb(223,223,223);
}

.sign-in-view input:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.sign-in-view button {
  font-family: Arial, sans-serif;
  font-size: 13px;
  border: 1px solid #3079ed;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  width: 275px;
  font-weight: 700;
  border-radius: 3px;
  height: 36px;
  transition: all 0.218s;
  margin: 7px auto;
}

.sign-in-view button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: rgb(48, 109, 241);
}

.email-list-item {
  height: 35px;
  font-size: 14px;
  background: rgb(241,241,241);
}

.email-list-item-check {
  float: left;
}

.email-list-item-star {
  float: left;
}

.email-list-item-sender {
  float: left;
  margin: 0 10px;
}

.email-list-item-subject {
  float: left;
  margin-left: 80px;
}

.email-list-item-preview {
  float: left;
  margin-left: 5px;
  color: gray;
}

.email-list-item-time-date {
  float: right;
}

.email-show-item {
  border: 1px solid blue;
}

.email-show-subject {

}

.email-show-sender-name {

}

.email-show-sender-email {

}

.email-show-date-time {

}

.email-show-body {

}

.flash-message {
  background: yellow;
  width: 300px;
  height: 25px;
  position: fixed;
  top: 50px;
  left: 40%;
}
