/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, figure, section, aside, ul,
 li, a, p, h1, h2, h3, h4, h5, main, div, form,
 label, footer, article, nav, header {
   border: 0;
   padding: 0;
   margin: 0;

   font: inherit;
   color: inherit;
   text-decoration: inherit;
   background: transparent;
 }

ul {
  list-style: none;
}

body {
  font-family: arial, sans-serif;
  font-size: 18px;
}

button {
  cursor: pointer;
}

.group:after {
  clear: both;
  display: block;
  content: "";
}

.compose-email-popup {
  border: 1px solid black;
  width: 600px;
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 25px;
  background: white;
}

.compose-email-popup-header-text {
  display: block;
  float: left;
}

.cancel-compose-box-popup {
  display: block;
  float: right;
  cursor: pointer;
}

.compose-email-to {
  display: block;
}

.compose-email-from {
  display: block;
}

.compose-email-subject {
  display: block;
}

.compose-email-body {
  display: block;
}
.compose-email-body > textarea {
  width: 80%;
  height: 150px;
}

.compose-email-send-button {
  display: block;
}

.mail-header {
  border: 1px solid red;
  height: 60px;
}

.mail-nav {
  border: 1px solid blue;
}

.header-title-text {
  display: block;
  float: left;
  font-size: 26px;
  margin: 10px 30px;
  height: 40px;
}

.search-bar {
  border: 1px solid yellow;
  float: left;
}

.current-user-info > p {
  display: block;
  float: right;
}

.current-user-info > aside {
  display: block;
  float: right;
  background: url(petr-photo.jpg);
  background-size: cover;
  width: 60px;
  height: 60px;
  border: 1px solid purple;
}

.email-options {
  float: left;
}

.mail-main-section {
  float: left;
}

.email-folders {
  width: 200px;
  border: 1px solid orange;
  float: left;
}

.pages-menu {
  float: left;
}

.email-nav {
  float: right;
}

.email-show-container {
  border: 1px solid green;
  display: block;
  float: right;
  width: calc(100% - 204px);
  min-height: 100px;
}

.email-list-item {
  height: 35px;
  font-size: 14px;
}

.email-list-item-check {
  float: left;
}

.email-list-item-star {
  float: left;
}

.email-list-item-sender {
  float: left;
  margin: 0 10px;
}

.email-list-item-subject {
  float: left;
  margin-left: 80px;
}

.email-list-item-preview {
  float: left;
  margin-left: 5px;
  color: gray;
}

.email-list-item-time-date {
  float: right;
}

.email-show-item {
  border: 1px solid blue;
}

.email-show-subject {

}

.email-show-sender-name {

}

.email-show-sender-email {

}

.email-show-date-time {

}

.email-show-body {

}
