/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, figure, section, aside, ul,
 li, a, p, h1, h2, h3, h4, h5, main, div, form,
 label, footer, article, nav, header, input, button, textarea {
   border: 0;
   padding: 0;
   margin: 0;
   outline: 0;

   font: inherit;
   color: inherit;
   text-decoration: inherit;
   text-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

body {
  font-family: arial, sans-serif;
  font-size: 18px;
}

ul {
  list-style: none;
}

textarea {
    resize: none;
}

button {
  cursor: pointer;
}

.group:after {
  clear: both;
  display: block;
  content: "";
}

.invisible {
  display: none;
}


.blue-button {
  font-size: 13px;
  border: 1px solid #3079ed;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  color: #fff;
  min-width: 46px;
  text-align: center;
  border-radius: 2px;
  padding: 6px 11px;
  transition: all 0.218s;
  cursor: default;
  margin: 5px;
}

.blue-button:hover {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  border: 1px solid #2f5bb7;
  border-bottom-color: #2f5bb7;
}

.gray-button {
  height: 27px;
  width: 70px;
  border: 1px solid rgba(0,0,0,0.1);
  color: #444;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}

.gray-button:hover {
  border: 1px solid #c6c6c6;
  color: #333;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}

.saving-saved {
  display: block;
  float: right;
  color: #777;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

[class*="icon-"] {
  background-size: initial;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.thumb {
  display: block;
  background-image: image-url('avatar-blue.png');
  background-size: cover;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.pink-background {
  background: #ffccd4;
}
