.compose-button {
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  text-transform: uppercase;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  height: 27px;
  line-height: 27px;
  padding: 1px 8px;
  width: 97px;
  margin-left: 30px;
  display: block;
  text-align: center;
}

.main-folders {
  width: 200px;
  float: left;
}

.main-folders-list,
.custom-folders-list {
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.main-folders-list > li,
.custom-folders-list > li {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 80%;
}

.main-folders-list > li:hover,
.custom-folders-list > li:hover {
  background: rgb(234,234,234);
}

#create-new-folder-button {
  margin-top: 20px;
  margin-left: 30px;
}

.custom-folders-list input {
  border: 1px solid black;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  height: 27px;
  white-space: nowrap;
  width: 130px;
  margin-left: 30px;
}

.custom-folders-list input:hover {
  border: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.custom-folders-list .icon-dark-cross {
  float: right;
  right: 5px;
  height: 13px;
  width: 13px;
  padding: 2px;
  opacity: .6;
  background: no-repeat image-url('sprite.png') 0 -657px;
  background-image: image-url('sprite.png');
  background-position-x: 0px;
  background-position-y: -657px;
  transform: translateY(10%);
  display: none;
}

.custom-folders-list > li:hover .icon-dark-cross {
  display: block;
}

.icon-dark-cross:hover {
  opacity: 1;
}
