.mail-header {
  height: 60px;
  line-height: 58px;
  background: rgba(243,243,243,.85);
  min-width: 900px;
}

.main-page-logo .dog-logo {
  background-image: image-url('happy-dog-gray.png');
  width: 50px;
  height: 50px;
}

.main-page-logo .dog-logo:hover {
  background-image: image-url('happy-dog.png');
}

.main-page-logo {
  margin: 5px 94px 5px 62px;
  display: block;
  float: left;
}

.search-bar {
  height: 60px;
  line-height: 58px;
  float: left;
  width: auto;
  text-align: left;
  text-align: start;
  width: calc(100% - 420px);
  position: relative;
  max-width: 650px;
  min-width: 300px;

}

.search-bar input {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  height: 27px;
  line-height: normal;
  white-space: nowrap;
  width: calc(100% - 120px);
  padding: 0 8px;
}

.search-bar input:hover {
  border: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.search-bar .blue-button {
  height: 15px;
  width: 60px;
  cursor: default;
  font-weight: bold;
  line-height: 17px;
  font-size: 14px;
  margin-left: 0;
}

.mail-nav {
  height: 48px;
  border-bottom: 1px #e5e5e5 solid;
  border-top: 1px #e5e5e5 solid;
  margin-bottom: 10px;
  min-width: 900px;
}

.pages-menu {
  float: left;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  padding: 5px;
  left: 42px;
  font-size: 22px;
  cursor: default;
}

.email-options {
  float: left;
  position: absolute;
  left: 119px;
  text-align: center;
  position: relative;
  z-index: 10;
  top: 45%;
  transform: translateY(-45%);
}

.email-navigation {
  float: right;
}

.made-with-love {
  display: block;
  margin: 0 20px;
  color: gray;
  cursor: default;
  line-height: 48px;
  vertical-align: middle;
}

.made-with-love > a:hover {
  color: #dd4b39;
}

.label-as-button-container {
  float: right;
  display: inline-block;
  margin-left: 5px;
}

.icon-label-as-button {
  width: 21px;
  height: 21px;
  background: no-repeat image-url('sprite2.png') 0 -426px;
  background-image: image-url('sprite2.png');
  background-position-x: 0px;
  background-position-y: -426px;
  opacity: .55;
  float: left;
  margin-left: 18px;
  margin-top: 1px;
}

.current-user-info {
  float: right;
  display: block;
  width: 150px;
  position: relative;
}

.current-user-info > p {
  display: inline-block;
  margin: 0 5px;
  height: 15px;
  line-height: 15px;
  vertical-align: middle;
  cursor: default;
}

.current-user-info > aside {
  display: inline-block;
  border-radius: 50%;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  position: relative;
}

.current-user-info .overlay:active {
  background-color: black;
  opacity:0.1;
}

.current-user-profile {
  position: absolute;
  right: 20px;
  width: 300px;
  height: 150px;
  background: white;
  z-index: 10;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.current-user-profile aside {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 25px 0 0 20px;
  position: relative;
  cursor: pointer;
}

.user-profile-thumb-container {
  float: left
}

.user-profile-main-container {
  float: right;
  text-align: left;
  margin: 30px 25px 0 0;
}

.user-profile-main-container > span {
  display: block;
  line-height: normal;
}

.user-profile-thumb-container span {
  background: rgba(0,0,0,.54);
  bottom: 0;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  left: 0;
  line-height: 9px;
  position: absolute;
  padding: 7px 0;
  text-align: center;
  width: 96px;
}

.toggle-view-arrow-up {
  left: 6.5px;
  top: 37px;
  z-index: 10;
}

.current-user-profile-name {
  font-weight: bold;
}

.current-user-profile-email {
  font-size: 14px;
  color: #666;
}

.user-profile-main-container button {
  height: 20px;
  line-height: normal;
  margin-left: 0;
}

.label-as-button-container:hover .icon-label-as-button,
.label-as-button-container:hover .down-arrow-symbol {
  opacity: 1 !important;
}

.down-arrow-symbol {
  background: image-url('arrow_down.png') no-repeat;
  background-image: image-url('arrow_down.png');
  width: 6px;
  height: 6px;
  float: left;
  margin-top: 11px;
  opacity: 0.55;
}

.email-options-label-list {
  position: absolute;
  top: 29px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: opacity .218s;
  background: #fff;
  border: 1px solid rgba(0,0,0,.2);
  padding: 7px;
}

.email-options-label-list > p {
  font-size: 13px;
  padding-bottom: 5px;
}

.email-options-label-list > li {
  padding: 5px 50px 5px 20px;
  display: block;
  white-space: nowrap;
  margin-top: 2px;
}

.email-options-label-list > li:hover {
  background: #ffccd4;
}

#delete-forever-email-thread {
  font-size: 13px;
  width: 95px;
}

#recover-email-thread {
  width: 80px;
  font-size: 16px;
}

.pink-background {
  background: #ffccd4;
}
