.mail-header {
  height: 60px;
  line-height: 58px;
  background: rgba(243,243,243,.85);
}

.mail-nav {
  height: 48px;
  border-bottom: 1px #e5e5e5 solid;
  border-top: 1px #e5e5e5 solid;
  margin-bottom: 10px;
}

.search-bar {
  float: left;
  height: 60px;
  line-height: 58px;
  width: 655px;
}

.search-bar input {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  border-right-width: 0;
  height: 27px;
  line-height: normal;
  vertical-align: middle;
  white-space: nowrap;
  width: 570px;
}

.search-bar input:hover {
  border: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  border-right-width: 0;
}

.search-bar button {
  height: 27px;
  width: 60px;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  vertical-align: middle;
  line-height: normal;
  cursor: default;
  font-weight: bold;
  display: inline-block;
  line-height: 29px;
  min-width: 54px;
  font-size: 14px;
  text-align: center;
  color: white;
}

.pages-menu {
  float: left;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  padding: 5px;
  left: 60px;
  cursor: pointer;
}

.email-options {
  float: left;
  position: absolute;
  left: 128px;
  text-align: center;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
}

.email-navigation {
  float: right;
}

.made-with-love {
  display: block;
  position: relative;
  transform: translateY(67%);
  margin: 0 20px;
  color: gray;
}

.move-to-button-container {
  float: right;
  display: inline-block;
  margin-left: 5px;
}

.icon-move-to-button {
  width: 21px;
  height: 21px;
  background: no-repeat image-url('sprite2.png') 0 -426px;
  background-image: image-url('sprite2.png');
  background-position-x: 0px;
  background-position-y: -426px;
  opacity: .55;
  float: left;
  margin-left: 18px;
  margin-top: 1px;
}

.move-to-button-container:hover .icon-move-to-button,
.move-to-button-container:hover .down-arrow-symbol {
  opacity: 1;
}

.down-arrow-symbol {
  background: image-url('arrow_down.png') no-repeat;
  background-image: image-url('arrow_down.png');
  width: 6px;
  height: 6px;
  float: left;
  margin-top: 11px;
  opacity: 0.55;
}
