
.compose-email-popup {
  border: 1px solid black;
  width: 600px;
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 25px;
  background: white;
}

.compose-email-popup-header-text {
  display: block;
  float: left;
}

.cancel-compose-box-popup {
  display: block;
  float: right;
  cursor: pointer;
}

.compose-email-to {
  display: block;
}

.compose-email-from {
  display: block;
}

.compose-email-subject {
  display: block;
}

.compose-email-body {
  display: block;
}
.compose-email-body > textarea {
  width: 80%;
  height: 150px;
}

.saving-saved {
  display: block;
  float: right;
}

.reply-forward-email-box {
  width: 700px;
  height: 100px;
  background: rgb(233,233,233);
}

.header-title-text {
  display: block;
  float: left;
  font-size: 26px;
  height: 40px;
  width: 92px;
  margin-right: 50px;
  padding: 0 30px 0 30px;
  line-height: normal;
  vertical-align: middle;
}

.current-user-info > p {
  display: block;
  float: right;
}

.current-user-info > aside {
  display: block;
  float: right;
  background: url(petr-photo.jpg);
  background-size: cover;
  width: 60px;
  height: 60px;
  border: 1px solid purple;
}

.mail-main-section {
  float: left;
}

.show-container {
  border: 1px solid green;
  float: right;
  width: calc(100% - 204px);
  min-height: 100px;
}

.email-list-item {
  height: 35px;
  font-size: 14px;
  background: rgb(241,241,241);
}

.email-list-item-link {
  cursor: pointer;
}

.email-list-item-check {
  float: left;
  display: block;
}

.email-list-item-star {
  float: left;
}

.email-list-item-correspondent {
  float: left;
  margin: 0 10px;
}

.email-list-item-subject {
  float: left;
  margin-left: 80px;
}

.email-list-item-preview {
  float: left;
  margin-left: 5px;
  color: gray;
}

.email-list-item-time-date {
  float: right;
}

.email-show-item {
  border: 1px solid blue;
}

.star-off {
  background-image: image-url('star-off.png');
}

.star-on {
  background-image: image-url('star-on.png');
}

.star-on, .star-off {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  cursor: pointer;
}
