.header {
  height: 71px;
  background: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  display: block;
  float: left;
  font-size: 36px;
  margin: 15px 30px;
}

.header aside {
  float: right;
  margin: 25px 58px 24px 0;
}

.create-account-form {
  background: #f1f1f1;
  width: 500px;
  padding: 25px;
  text-align: left;
  margin: auto;
}

.create-account-form input,
.create-account-form select {
  background: white;
  padding: 0 8px;
  text-align: start;
  display: block;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  height: 29px;
  display: inline;
}

.create-account-form label {
  color: #222;
  font-weight: bold;
  font: arial, helvetica, sans-serif;
  font-size: 14px;
  display: block;
  margin: 10px 0 4px 0;
}

.header .dog-logo {
  width: 60px;
  height: 60px;
  margin: 0 60px;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.create-new-account-header-text {
  font-size: 38px;
  margin: 27px auto;
  font-family: 'Open Sans', arial;
  font-weight: 300;
  color: #555;
}

.create-account-form .sign-up-checkbox {
  display: block;
  float: left;
  height: 16px;
  margin-top: 11px;
  margin-bottom: 0;
}

.create-account-form input.error-input,
.sign-in-form-container input.error-input {
  border: 1px solid #dd4b39;
}

.create-account-form select {
  font: 20px;
  clear: both;
  display: block;
}

.sign-up-checkbox {
  margin: 5px;
}

.create-account-form button {
  font-size: 18px;
  margin-top: 15px;
}
