<h4>New Message</h4>
<label>To:
  <input type='text' name='email[addressees][email]'>
  <input type='hidden' name='email[addressees][email_type]' value='to'>
</label>
<label>From:
  <input type='text' name='email[from]'>
</label>
<label>Subject:
  <input type='text' name='email[subject]'>
</label>
<label>Body:
  <textarea name='email[body]'></textarea>
</label>
<button>Send</button>
