<header class='compose-email-popup-header group'>
  <h4 class='compose-email-popup-header-text'>New Message</h4>
  <aside id='cancel-compose-box-popup'
         class='icon-cancel-cross'></aside>
</header>

<label class='compose-email-popup-to'>To:
  <input type='text' name='email[addressees][email]'>
  <input type='hidden' name='email[addressees][email_type]' value='to'>
</label>
<p class='compose-email-from'>
  From: <%= Maildog.currentUser.escape('email') %>
</p>
<label class='compose-email-subject'>Subject:
  <input type='text' name='email[subject]' value="<%= email.get('subject') %>">
</label>
<label class='compose-email-body'>Body:
  <textarea name='email[body]'><%= email.get('body') %></textarea>
</label>
<div class='garbage-can-holder'>
  <aside id='delete-message' class='icon-garbage-can'></aside>
</div>
<p class='saving-saved'></p>
<button class='blue-button'>Send</button>
