<form action='/session' method='post' class='log-out-form'>
  <input type='hidden' name='_method' value='delete'>
  <input type='hidden' name='authenticity_token'>
  <button class='log-out-button'>Log out</button>
</form>

<p>
  <%= currentUser.escape("first_name") %>
</p>
<aside class='thumb'></aside>
