<button id='email-show-back-button' class='gray-button'>Back</button>
<button id='delete-forever-email-thread' class='gray-button'>Delete Forever</button>
<button id='recover-email-thread' class='gray-button'>Recover</button>
