<button id='email-show-back-button' class='gray-button'>Back</button>

<button id='delete-email-thread' class='gray-button'>Delete</button>

<div class='gray-button move-to-button-container'>
  <div class='icon-move-to-button'></div>
  <div class='down-arrow-symbol'></div>
</div>
