<button id='email-show-back-button' class='gray-button'>Back</button>

<button id='delete-email-thread' class='gray-button'>Delete</button>

<div class='gray-button label-as-button-container'>
  <div class='icon-label-as-button'></div>
  <div class='down-arrow-symbol'></div>
  <ul class='email-options-label-list invisible'>
    <p>Label as:</p>
  </ul>
</div>
