<button class='compose-button'>Compose</button>
<ul class='email-folders-list'>
  <li><a href='#/inbox'>Inbox</a></li>
  <li><a href='#/starred'>Starred</a></li>
  <li><a href='#/sent'>Sent Mail</a></li>
  <li><a href='#/drafts'>Drafts</a></li>
</ul>
