<p class='made-with-love'>Made with <3 by
  <a href='https://www.petrgazarov.com'>Petr Gazarov</a>
</p>
<button id='back-button'></button>
<button id='forward-button'></button>
<button id='settings-button'></button>
