<button id='email-show-back-button' class='gray-button'>Back</button>
<button id='delete-email-thread' class='gray-button'>Delete</button>
<button class='gray-button'>Move to</button>
<button class='gray-button'>Label as</button>
<button class='gray-button'>More</button>
