<header class='mail-header group'>
  <a href='/' class='main-page-logo'>
    <div class="dog-logo"></div>
  </a>
</header>
<nav class='mail-nav group'>
  <section class="pages-menu"></section>
  <section class="email-options"></section>
  <section class="email-navigation"></section>
</nav>
