<header class='mail-header group'>
  <a href='' class='header-title-text'>Maildog</a>
</header>
<nav class='mail-nav group'>
  <section class="pages-menu"></section>
  <section class="email-options"></section>
  <section class="email-navigation"></section>
</nav>
