<button class='compose-button'>Compose</button>
<ul class='main-folders-list'>
  <li id='inbox-folder'>Inbox</li>
  <li id='starred-folder'>Starred</li>
  <li id='sent-folder'>Sent Mail</li>
  <li id='drafts-folder'>Drafts</li>
  <li id='trash-folder'>Trash</li>
</ul>
<ul class='compose-email-popup-container'></ul>
