<label class='compose-email-to'>To:
  <input type='text' name='email[addressees][email]'
         value="<%= recipient.escape('email') %>">
  <input type='hidden' name='email[addressees][email_type]' value='to'>
</label>
<input type='hidden' name='email[subject]' value="<%= email.escape('subject') %>">
<label class='compose-email-body'>Body:
  <textarea name='email[body]'><%= email.escape('body') %></textarea>
</label>
<p class='saving-saved'></p>
<button type='submit' class='compose-email-send-button blue-button'>Send</button>
