<label class='reply-forward-email-to'>
  <input type='text' name='email[addressees][email]'
         value="<%= recipient.escape('email') %>">
  <input type='hidden' name='email[addressees][email_type]' value='to'>
</label>
<input type='hidden' name='email[subject]' value="<%= email.escape('subject') %>">
<label class='compose-email-body'>
  <textarea name='email[body]'><%= email.escape('body') %></textarea>
</label>
<div class='reply-forward-footer'>
  <div class='garbage-can-holder'>
    <aside id='delete-reply-forward' class='icon-garbage-can'></aside>
  </div>
  <p class='saving-saved'></p>
  <button type='submit' class='compose-email-send-button blue-button'>Send</button>
</div>
