<h1>Maildog</h1>
<h2>Sign in to continue</h2>
<section class='sign-in-box'></section>

<form class='sign-in-as-guest-form' action='/session/create_guest' method='post'>
  <input type='hidden' name='authenticity_token'>
  <button class='sign-in-as-guest-button'>Sign in as Petr</button>
</form>

<a href="/users/new" class='create-account-link'>Create account</a>
