<div class='sign-in-form-container'>
  <div class='canvas-container'>
    <div class='back-arrow invisible'></div>
    <div class='canvas'>
      <div class='canvas-blue'></div>
    </div>
  </div>
  <div class='email-display'></div>

  <form class='sign-in-username-form'>
    <input type='text' name='user[username]' class='sign-in-text-box'
           placeholder='Enter your username'>
    <button class='sign-in-next-button'>Next</button>
  </form>

  <form class='sign-in-password-form invisible'>
    <input type='password' name='user[password]' class='sign-in-text-box'
           placeholder='Password'>
    <input type='hidden' name='user[username]'
           value="<%= currentUser.escape('username') %>">
    <button class='sign-in-submit-button'>Sign in</button>
  </form>

  <form class='sign-in-as-guest-form' action='/session/create_guest' method='post'>
    <input type='hidden' name='authenticity_token'>
    <button class='sign-in-as-guest-button'>Sign in as Barack</button>
  </form>
</div>
