<h1>Maildog</h1>
<h2>Sign in to continue</h2>
<section class='sign-in-box'></section>

<a href="/users/new" class='create-account-link'>Create account</a>
<a class='sign-in-as-different invisible'>Sign in with a different account</a>
